package home

import "github.com/v3ronez/ufantasyai/view/layout"

templ Index() {
	@layout.App(true) {
		<div class="w-full text-center py-10">
			<h1 class="text-5xl border font-black leading-[1.2] mb-2">
				Hello from the home page
			</h1>
			<h2 class="text-xl font-semibold mb-6">This is some amazing AI App</h2>
			<button class="btn btn-primary">Generate images now <i class="fa-solid fa-arrow-right"></i></button>
		</div>
	}
	@layout.Teste() {
	}
}
