package settings

import "github.com/v3ronez/ufantasyai/view/layout"
import "github.com/v3ronez/ufantasyai/types"

templ Index(user types.AuthenticateUser) {
	@layout.App(true)
	<div class="max-w-xl w-full mx-auto mt-4">
		account
	</div>
}
